<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/images/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/main")
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("css", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <header>
        <nav>
            <div class="container-fluid">
                <div class="row" id="top_nav">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#main_menu">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <a id="logo" href="@Url.Action("Index", "Home")">
                            <img src="/Content/Images/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="text-right" id="top_menu">
                        <ul class="phone">
                            <li><a href="#">8(800)2224455</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" id="main_nav">
                    <div class="text-right" id="main_menu">
                        <ul class="menu">
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li>@Html.ActionLink("Галерея", "Gallery", "Home")</li>
                            @*<li>@Html.ActionLink("Услуги", "Service", "Home")</li>*@
                            <li><a href="#contacts">Контакты</a></li>
                            <li><a href="#">Блог</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    @{Html.RenderAction("SiteInfo", "Info");}
    <footer>
        <p>&copy; @DateTime.Now.Year - надежный дом по вашему проекту</p>
    </footer>
</body>
</html>