@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <ul class="admin_menu">
            <li>@Html.ActionLink("Фото главной страницы", "Index", "Admin", null, new { @class = "btn btn-primary" })</li>
            <li>@Html.ActionLink("Фото галереи", "EditPhotoGallery", "Admin", null, new { @class = "btn btn-primary" })</li>
            <li>@Html.ActionLink("Редактировать комментарии", "EditComment", "Admin", null, new { @class = "btn btn-primary" })</li>
            <li>@Html.ActionLink("Редактировать описание", "EditAboutCompany", "Admin", null, new { @class = "btn btn-primary" })</li>
            <li>@Html.ActionLink("Редактировать контакты", "EditContacts", "Admin", null, new { @class = "btn btn-primary" })</li>
            <li><a href="#" class="btn btn-primary" >Блог</a></li>
        </ul>
    </div>
</div>